.header {
	border-style: solid;
	border-width: 1px;
	margin: 10px;
	padding: 10px;
	background-color: #F0655E;
	position:relative;
}

.centralizador {
	text-align: center;
}

.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blocktext {
	position: relative;
	margin-left: 250px;
}

.img-block1{
	position: absolute;
	display:block;
	left:0px;
	top:0px;
}

.img-block1-1{
	position: absolute;
	display:block;
	left:0px;
	top:325px;
}

.img-block2{
	position: absolute;
	left:425px;
	top:0px;
}

.img-block2-2{
	position: absolute;
	left:425px;
	top:325px;
}

.nav{
	position: absolute;
	top: 10px;
	left: 100px;
}

.nav-item {
	background-color: gold;
	display: inline;	
}

