.header {
	border-style: solid;
	margin: auto;
	padding: 0.7rem;
	background-color: #111820;
	font-family: 'PT Mono', monospace;
	font-size: 1rem;
	font-weight: bold;
	min-width: 20rem;
	max-width: 100%;
	min-height: 3.25rem;
	display: flex;
	align-items: center;
}

.body {
	background-color: #013F64;
}

.logo{
	margin: 2%;
	margin: 5%;
}

.centralizadortitulo {
	text-align: center;
	font-family: 'PT Serif', serif;
	font-size: 2.5rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding:5%;
}

.centralizadorlegenda {
	text-align: center;
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	font-weight: bold;
	padding:0.5%;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.blocktext {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 50.25rem;
	padding: 5rem;
	margin-left: auto;
	margin-right: auto;

}

.img-block1{
	align-self: flex-start;
	justify-content: flex-start;
}

.img-block1-1{
	align-self: flex-start;
	justify-content: flex-end;
}

.img-block2{
	align-self: flex-end;
	justify-content: flex-start;
}

.img-block2-2{
	align-self: flex-end;
	justify-content: flex-end;
}

.blocktext2 {
	display: flex;
	justify-content: space-around;
	max-width: 70rem;
	min-height: 35rem;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}
.blocktext2-2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 50%;
	padding: 1rem;
}

.img-blockcat{
	width: 90%;
	height: 90%;
	min-width: 20rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}
.img-blockpro{
	width: 50%;
	min-width: 30rem;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.title{
	font-family: 'PT Mono', monospace;
	font-size: 2rem;
	text-decoration: none;
	color: #E3B239;
	min-width: 2000rem;

}
.title:hover {
	color:#197c87;
}

.paragraph{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	padding: 1rem;
}

.nav{
	font-size: 200%;
	width: 100%;
	display: flex;
	align-items: center; 
	flex-direction: row;
	justify-content: space-around;
}

.link{
	text-decoration: none;
	color: white;
}

.link:hover {
	color:#197c87;
}

.img-block4{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 2rem;
	top: 15rem;
}

.paragraph2{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
}

.paragraph3{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: #16BA45;
	margin-top: 1rem;
}

.paragraph4{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	list-style: circle;
	margin-left: 1.5rem;
}

.paragraph5{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: #16BA45;
	left: 48rem;
	top: 28rem;
	margin-top: 1rem;
}

.paragraph6{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	list-style: circle;
	margin-left: 1.5rem;
}

.paragraph7{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: #16BA45;
	margin-top: 1rem;
}

.paragraph8{
	font-family: 'PT Mono', monospace;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	list-style: circle;
	margin-left: 1.5rem;
}

@media (max-width: 375px) {
    .header{
        font-size: 0.3rem;
		align-content: space-around;
    }

    .centralizadortitulo{
        font-size: 1.75rem;
    }

    .menu_figure{
    	display: block;
    }


    .menu-image{
    	height: 3rem;



    }

    .nav{
    	display:none;
    }
    
}