.header {
	border-style: solid;
	border-width: 0.5%;
	margin: auto;
	padding: 0.7rem;
	background-color: #111820;
	font-family: 'Antic Didone', serif;
	font-size: 1rem;
	font-weight: bold;
	min-width: 20rem;
	max-width: 100%;
	min-height: 3.25rem;
	display: flex;
	align-items: center;
}

.body {
	background-color: #013F64;
}

}
.logo{
<<<<<<< HEAD
	margin: 2%;
=======
	margin: 5%;
>>>>>>> 0fe738a501142041d2f1a579cb6854b6de83bd6c
}

.centralizadortitulo {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 2.5rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	padding:5%;
}

.centralizadorlegenda {
	text-align: center;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	font-weight: bold;
	padding:0.5%;
}

.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.blocktext {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 50.25rem;
	padding: 5rem;
	margin-left: auto;
	margin-right: auto;

}

.img-block1{
	align-self: flex-start;
	justify-content: flex-start;
}

.img-block1-1{
	align-self: flex-start;
	justify-content: flex-end;
}

.img-block2{
	align-self: flex-end;
	justify-content: flex-start;
}

.img-block2-2{
	align-self: flex-end;
	justify-content: flex-end;
}

.nav{
	font-size: 200%;
	width: 100%;
	display: flex;
	align-items: center; 
	flex-direction: row;
	justify-content: space-around;
}

.link{
	text-decoration: none;
	color: white;
}
.link .nav-item : hover	{
	color: white;
}

.img-block3{
	position: absolute;
<<<<<<< HEAD
	left: -300px;
=======
<<<<<<< HEAD
	left: -150px;
=======
	left: -300px;
>>>>>>> f5a29683842d904ed446b7ca9974d1ca168ab82b
>>>>>>> 0fe738a501142041d2f1a579cb6854b6de83bd6c
	top: 150px;
	border: solid;
}

.title{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 2rem;
	text-decoration: none;
	color: #E3B239;
	left: 760px;
	top: 280px;
}

.paragraph{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 760px;
	top: 320px;
}

.img-block4{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	left: 2rem;
	top: 15rem;
}

.paragraph2{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	left: 48rem;
	top: 15rem	;
}

.paragraph3{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 48rem;
	top: 19rem;
}

.paragraph4{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	left: 49rem;
	top: 21rem;
	list-style: circle;
}

.paragraph5{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 48rem;
	top: 28rem;
}

.paragraph6{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	left: 49rem;
	top: 30rem;
	list-style: circle;
}

.paragraph7{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	left: 48rem;
	top: 32rem;
}

.paragraph8{
	position: absolute;
	font-family: 'Antic Didone', serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: #E3B239;
	left: 49rem;
	top: 34rem;
	list-style: circle;
}
